* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.navbar {
    padding: 32px 12px 8px;
}

/* Ãnicio Navbar */
nav {
    font-weight: 600;
}

.bg-light {
    background-color: #ffffff !important;
}

.bag-cicle {
    left: -6px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    background-color: #cc0000;
    border-radius: 15px;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    position: relative;
}

.offcanvas-header .btn-close {
    background-color: #fff;
}

.offcanvas-end {
    width: 300px;
}

.offcanvas-header {
    justify-content: flex-end;
}

.fixed-top {
    padding: 40px 24px;
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.25);
    padding: 32px 24px;
}

.offcanvas-body {
    margin-top: -60px;
}

.menuMob {
    display: flex;
    gap: 16px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #cc0000;
}

.dropdown-menu-dark {
    background-color: #eeeeee;
}

.dropdown-menu-dark .dropdown-item {
    color: #2f2f2f;
}

.dropdown-menu-dark .dropdown-item:focus,
.dropdown-menu-dark .dropdown-item:hover {
    color: #cc0000;
    background-color: inherit;
}

@media (max-width: 992px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 95vw;
    }
}

@media (min-width: 992px) {
    .bag-cicle {
        left: -6px;
        margin-top: 5px;
        width: 25px;
        height: 25px;
        background-color: #cc0000;
        border-radius: 15px;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        position: relative;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: flex-start;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: rgb(0 0 0 / 90%);
    }

    .menu-desk {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 24px;
    }

    li.nav-item {
        padding: 0;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .offset-md-1 {
        margin-left: 4.33333333%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 90.333333%;
    }
}

/* Final Navbar */

/* Banner */
.banner {
    margin: 16px 0;
}

/* Banner */

main {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #cc0000;
    margin: 16px 0;
    letter-spacing: -1px;
}

.box-content {
    padding: 24px 32px;
    background-color: #f1f1f1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-content-card {
    display: flex;
    padding: 24px 32px;
    background-color: #f1f1f1;
    gap: 16px;
    justify-content: center;
    flex-direction: column;
}

.card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.desc-card {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #cc0000;
    color: #fff;
    padding: 10px 50px 10px 15px;
    border-radius: 0 70px 0 0;
}

.home-card-link:hover {
    transform: scale(1.02);
}

.product-box {
    margin: 32px 0;
    display: flex;
    gap: 24px 8px;
    flex-wrap: wrap;
    justify-content: left;
}

img.product-photo {
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
    object-position: top;
    background-color: #FCFCFC
}



.nav-category {
    margin: 32px 0 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

a.menu-category {
    background-color: #383838;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    opacity: 0.6;
}

a.menu-category.active {
    opacity: 1;
}

a.menu-category:hover {
    opacity: 1;
}

.product-card-description {
    padding: 24px 32px;
    background-color: #FCFCFC;
}

.product-card-cta {
    background-color: #cc0000;
    text-align: center;
    padding: 8px 16px;
    border-radius: 0 0 10px 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.product-card-cta:hover {
    background-color: #8D0F0F;
    color: #fff;
}

.product-card-description-title {
    font-weight: 600;
    font-size: 24px;
}

.product-card-description-info {
    margin: 8px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.product-card-description-price-info {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.4px;
    margin-top: 16px;
}

.product-card-description-price-value {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #cc0000;
    margin-top: 4px;
}

.product-card-description-price-value span {
    font-size: 32px;
}

.product-card-description-more {
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #5B5B5B;
    margin-top: 12px;
    display: block;
}

.product-card-description-more:hover {
    color: #000000;
}

@media (min-width: 992px) {
    .box-content-card {
        flex-direction: row;
    }

    .card-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .desc-card {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: #cc0000;
        color: #fff;
        padding: 10px 50px 10px 15px;
        border-radius: 0 70px 0 0;
    }

    .home-card-link:hover {
        transform: scale(1.02);
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 99%;
}

@media (min-width: 680px) {
    .product-card-description-title {
        font-size: 20px;
    }

    .product-card {
        width: 48.3%;
    }
}

@media (min-width: 921px) {
    .product-card-description-title {
        font-size: 20px;
    }

    .product-card {
        width: 257px;
    }
}

@media (min-width: 993px) {
    .product-card-description-title {
        font-size: 24px;
    }

    .product-card {
        width: 285px;
    }
}

@media (min-width: 1200px) {
    .product-card {
        width: 345px;
    }
}

@media (min-width: 1400px) {
    .product-card {
        width: 299px;
    }
}

a.btn-orcamento {
    background-color: #cc0000;
    color: #fff;
    padding: 12px 24px;
    margin: 8px 0 16px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

a.btn-orcamento:hover {
    background-color: #8D0F0F;
}

.galery {
    display: flex;
    gap: 16px;
    margin-top: 36px;
    flex-direction: column;
}

img.galery-photo-item {
    width: 100%;
}

.galery-photo {
    width: 100%;
}

@media (min-width: 650px) {
    .galery-photo {
        width: 48%;
    }
}

@media (min-width: 993px) {
    .galery-photo {
        width: 428px;
    }
}

@media (min-width: 1200px) {
    .galery-photo {
        width: 340px;
    }
}

@media (min-width: 1400px) {
    .galery-photo {
        width: 400px;
    }
}

@media (min-width: 650px) {
    .galery {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        gap: 16px;
    }
}


.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #d7d7d7;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

/* Footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    text-align: center;
    background-color: #434343;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: 600;
    margin-top: 50px;
}

/* Footer */

.products {
    display: flex;
    align-items: center;
    gap: 24px;
}

img.modal_product {
    width: 50%;
    max-width: 250px;
}

.modal-content {
    width: 97%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 8px;
}

h3.heading-form {
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
}

h4.heading-form {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}

.input-item {
    width: 100%;
}

.dataBox {
    gap: 16px 0px;
}

@media (min-width: 992px) {
    .input-item {
        width: 45%;
    }
}

.inp-options {
    display: flex;
    gap: 16px;
    margin: 8px 0;
}

form button.btn.btn-primary {
    margin-top: 32px;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}


@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.removeBtn {
    display: flex;
    justify-content: center;
}

input#form1 {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
    border-radius: 0.25rem;
    max-width: 400px;
}

.btn-primary:hover {
    background-color: #cc0000;
    border: 0;
}

.form-check-input:checked {
    background-color: #cc0000;
    border-color: #cc0000;
}

.form-check-input:focus {
    border-color: #cc0000;
    outline: 0;
    box-shadow: #cc000054
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #cc0000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 49, 13, 0.25);
}

p.disclaimer {
    font-size: 13px;
    margin-top: -10px;
}

#equipamentos>div:nth-child(1)>hr:nth-child(1) {
    display: none;
}

.btn-link {
    font-weight: 400;
    color: #cc0000;
    text-decoration: underline;
}